@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.ch-font {
  font-family: "Noto Sans TC", sans-serif;
}

.ch-font.thin {
  font-weight: 100;
}

.ch-font.regular {
  font-weight: 400;
}

.ch-font.bold {
  font-weight: 700;
}

.title {
  color: #ffffff;
}

.title.headline {
  font-size: 40px;
  padding: 100px 0 50px 0;
  letter-spacing: 3.89px;
}

.title.article {
  font-size: 30px;
  color: #8A82CC;
  margin: 0 0 20px 0;
}

.header-bg {
  width: 100%;
  height: 380px;
  top: 0;
  left: 0;
  z-index: -10;
}

.header-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.select-zone {
  margin: 0 auto;
}

.select-zone select.district-select.form-control {
  margin: 50px auto;
  width: 452px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 21px;
  border: 2px solid #ffffff;
}

@media all and (max-width: 500px) {
  .select-zone select.district-select.form-control {
    width: 100%;
  }
}

.select-zone .card {
  border: 0px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

.select-zone .card .card-body.article {
  margin: 0;
  padding: 0;
}

.items .card {
  border: 0px;
  padding: 10px;
}

.items .card .card-body {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0;
}

.items .card .card-body.article {
  margin: 0;
}

.btn {
  font-size: 21px;
  margin: 14px 11px;
  width: 130px;
  color: #ffffff;
}

.bg-purple {
  background-color: #8A82CC;
}

.bg-skin {
  background-color: #FFA782;
}

.bg-yellow {
  background-color: #F5D105;
}

.bg-blue {
  background-color: #559AC8;
}

.divider {
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#559AC8), color-stop(50%, #559AC8), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #559AC8 0%, #559AC8 50%, transparent 50%);
  background-size: 20px 2px;
  background-repeat: repeat-x;
  width: 100%;
  margin: 49px 0;
}

.divider .round {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #559AC8;
  top: -10px;
  left: calc(50% - 12px);
  background-color: #ffffff;
}

.divider .round span {
  font-size: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #559AC8;
}

.data-pic {
  width: 100%;
  height: 155px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
}

.data-pic .data {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  color: #ffffff;
}

.data-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.data-info {
  padding: 20px;
}

.data-info p {
  padding: 10px 0;
}

.data-info p img {
  padding-right: 10px;
}

.footer {
  width: 100%;
  height: 90px;
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */